<h2>プロフィール編集</h2>
<%= form_with model: @profile, local: true do |f| %>
<%= render "shared/error_messages", model: f.object %>
  <%= render "shared/profile_form", f: f %>

  <div class="actions">
    <%= f.submit "更新する" %>
  </div>
<% end %>

<%= link_to "戻る", user_path(@profile.user) %>