<div class="wrapper">
  <div class="container">
    <%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
    <div class="forms">
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <h2>ユーザー新規登録</h2>
      <div class="field">
        <div class="field-title">
          <%= f.label :nickname %><br />
        </div>
        <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname",maxlength: '40' %>
      </div>
      
      <div class="field">
        <div class="field-title">
          <%= f.label :email %><br />
        </div>
        <%= f.email_field :email, autocomplete: "email" %>
      </div>
      
      <div class="field">
        <div class="field-title">
          <%= f.label :password %><br />
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上で入力ください)</em>
          <% end %><br />
        </div>
      <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
      
      <div class="field">
        <div class="field-title">
          <%= f.label :password_confirmation %><br />
        </div>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      
      <div class="actions">
      <%= f.submit "Next" %>
      </div>
      <% end %>

    </div>
  </div>
</div>
