<h2>プロフィール登録</h2>

<%= form_with model: @profile, local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: @profile %>
  <%= render "shared/profile_form", f: f %>

  <div class="actions">
  <%= f.submit "新規登録" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
