<div class="wrapper search">
  <div class="left container">
    <%= render "shared/detail_search_form" %>
  </div>

  <div class="right container">
    <h2>検索結果</h2>
    <p><%= "1-#{@results.count}件表示" %></p>
    <div class="search-result">
      <p>検索条件</p>
      <% unless params[:q][:name_cont].empty? %>
        ビール名：
        <%= params[:q][:name_cont] %>
      <% end %>
      <% unless params[:q][:category_id_eq].empty? %>
        醸造方法：
        <%= Category.find(params[:q][:category_id_eq]).name %>
      <% end %>
      <% unless params[:q][:style_id_eq].empty? %>
        スタイル：
        <%= Style.find(params[:q][:style_id_eq]).name %>
      <% end %>
      <% unless params[:q][:reviews_tags_name_cont].empty? %>
        タグ：
        <%= params[:q][:reviews_tags_name_cont] %>
      <% end %>
      <% unless params[:q][:text_cont].empty? %>
        その他キーワード：
        <%= params[:q][:text_cont] %>
      <% end %>
    </div>
    <div class="beer-cards">
      <% @results.each do |beer| %>
        <%= link_to beer_path(beer.id) do %>
          <div class="card">
            <div class="card-left">
              <%= show_beerimage(beer) %>
            </div>
            <div class="card-right">
              <h4><%= beer.name %></h4>
              <div class="beer-detail"><%= beer.brewery_name %></div>
              <div class="beer-detail"><%= beer.category.name %></div>
              <div class="beer-detail"><%= beer.style.name %></div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>