<h2><%= "「#{@search}」の検索結果" %></h2>

<% if @beers.present? %>
  <%= "#{@beers.count}件表示" %>
  <% @beers.each do |beer| %>
    <p><%= link_to beer.name, beer_path(beer.id) %></p>
    <p><%= image_tag beer.beer_image %></p>
  <% end %>
<% else %>
  <%= "「#{@search}」に一致するビールはありません" %>
  <h3>お気に入りのビールを登録しよう</h3>
  <%= link_to '登録する', new_beer_path %>
<% end %>

<%= link_to 'TOPに戻る', root_path %>