<h1><%= @user.nickname %>のマイページ</h1>
<div>
  <p>ユーザー名:<%= @user.nickname %></p>
  <% if current_user != @user %>
    <% if @user.followed_by?(current_user) %>
      <%= link_to 'フォロー済み', user_relationship_path(@user.id), method: :delete %>
    <% else %>
      <%= link_to 'フォローする', user_relationships_path(@user.id), method: :post %>
    <% end %>
  <% end %>
  <%= link_to "フォロー", following_user_path(@user.id) %>
  <%= link_to "フォロワー", follower_user_path(@user.id) %>
  <% if @user.profile.avatar.attached? %>
    <% image_tag @user.profile.avatar.variant(resize:'100x100')%>
  <% end %>
  <p>好きなビール:<%= @user.profile.favorite_beer %></p>
  <p>Twitter:<%= @user.profile.twitter_link %></p>
  <p>ひとこと:<%= @user.profile.info %></p>
</div>

<div>
  <h4>飲みたいねえ！したビール</h2>
  <% @beers.each do |beer| %>
    <p><%= link_to beer.name, beer_path(beer.id) %></p>
  <% end %>
</div>

<div>
  <% if current_user == @user %>
    <%= link_to '基本情報の編集', edit_user_registration_path %>
    <%= link_to 'プロフィールの編集', edit_profile_path(@user.id) %>
  <% end %>
</div>