<div class="wrapper">
  <div class="container">
    <div class="profiel-wrapper">
      <div class="user">
        <div class="user-header">
          <%= show_avatar(@user)%>
          <div class="user-name">
            <h2><%= @user.nickname %></h2>
            <div class="following">
              <%= link_to "フォロー", following_user_path(@user.id) %>
              <%= link_to "フォロワー", follower_user_path(@user.id) %>
            </div>
          </div>
        </div>

        <div class="user-body">
          <div class="user-status">
            <span>好きなビール</span><%= @user.profile.favorite_beer %>
          </div>
          <div class="user-status">
            <span>Twitter</span><%= @user.profile.twitter_link %>
          </div>
          <div class="user-status">
            <span>紹介文</span><%= @user.profile.info %>
          </div>
          <% if user_signed_in? %>
          <% if current_user != @user %>
            <div id="follow_bottons_<%= @user.id %>">
              <%= render partial: "shared/follow_link", locals: { user: @user } %>
            </div>
          <% else %>
            <div class="option">
              <%= link_to 'ユーザー編集', edit_user_registration_path %>
              <%= link_to 'プロフィール編集', edit_profile_path(@user.id) %>
            </div>
          <% end %>
        <% end %>
        </div>
      </div>

      <div class="beer-wrapper">
        <h3><%= @user.nickname %>が飲みたいビール</h3>
        <div class="beer-container">
          <% @beers.each do |beer| %>
            <%= link_to beer_path(beer.id) do %>
              <div class="beers">
                <%= show_beerimage(beer) %><br />
                <%= beer.name %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="review-wrapper">
        <h4 class="main-title">ビア活一覧</h4>
        <% @reviews.each do |review| %>
          <div class="review">
            <div class="left-field">
              <%= show_avatar(review.user) %>
            </div>
            <div class="right-field">
              <p><%= link_to review.user.nickname, user_path(review.user), class: "user-name" %></p>
              <%= link_to review_path(review.id) do %>
                <span class="date"><%= review.created_at.to_s(:date_jp) %></span>
                <p class="review-body"><%= review.content %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      <div>
    </div>
  </div>
</div>