<h1><%= @user.nickname %>のマイページ</h1>
<p>ユーザー名:<%= @user.nickname %></p>
<% if @user.profile.avatar.attached? %>
  <% image_tag @user.profile.avatar.variant(resize:'100x100')%>
<% end %>
<p>好きなビール:<%= @user.profile.favorite_beer %></p>
<p>Twitter:<%= @user.profile.twitter_link %></p>
<p>ひとこと:<%= @user.profile.info %></p>

<%= link_to 'ユーザー編集', edit_user_registration_path %>
<%= link_to 'トップへ戻る', root_path %>