<%= form_with model: beer, local: true do |f| %>
<%= render "shared/error_messages", model: f.object %>

  <div class = "beer-field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class = "beer-field">
    <%= f.label :beer_image %><br>
    <%= f.file_field :beer_image %>
  </div>

  <div class = "beer-field">
    <%= f.label :category_id %><br>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category-select"}) %>
  </div>

  <div class = "beer-field">
    <%= f.label :style_id %><br>
    <%= f.collection_select(:style_id, Style.all, :id, :name, {}, {class:"style-select"}) %>
  </div>

  <div class = "beer-field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>

  <div class = "beer-field">
    <%= f.label :brewery_name %><br>
    <%= f.text_field :brewery_name %>
  </div>

  <div class = "beer-field">
    <%= f.label :brewery_country_id %><br>
    <%= f.collection_select(:brewery_country_id, BreweryCountry.all, :id, :name, {}, {class:"brewery-country-select"}) %>
  </div>

  <div class = "beer-field">
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>

  <div class = "beer-btn">
  <% if request.path_info = new_beer_path %>
    <%= f.submit "投稿する" %>
  <% else %>
    <%= f.submit "投稿する" %>
  <% end %>
  </div>

<% end %>