<h4><%= beer.name %>のビア活を投稿</h4>
<%= form_with model: review, url: beer_reviews_path(beer), local: true do |f| %>
<%= render "shared/error_messages", model: f.object %>
  <div class = "review-field">
    <div class="review-left">
      <%= f.label :content %>
    </div>
    <div class="review-right">
      <%= f.text_area :content %>
    </div>
  </div>

  <div class = "review-field">
    <div class="review-left">
      <%= f.label :images %>
    </div>
    <div class="review-right">
      <%= f.file_field :images %>
    </div>
  </div>

    <div class = "review-field">
    <div class="review-left">
      <%= f.label :name %>
    </div>
    <div class="review-right">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class = "review-btn">
    <%= f.submit "投稿する" %>
  </div>
<% end %>