<div class="top-header-wrapper">
  <div class="header-left">
    <div class="header-logo">
      <%= link_to root_path do %>
        <%= image_tag asset_path('5tap-logo-white.png'), {class: "header-icon", size: "140x60"} %>
      <% end %>
    </div>
  </div>
  <div class="header-right">
    <ul class="user-nav">
      <% if user_signed_in? %>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete%></li>
        <li>
          <%= link_to user_path(current_user) do %>
            <%= show_avatar(current_user) %>
          <% end %>
        </li>
      <% else %>
        <li><%= link_to '新規登録', new_user_registration_path %></li>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</div>