<div class="top-wrapper">
  <div class="top-container">
    <h3>お気に入りのビールを登録しよう</h3>
    <p><%= link_to '登録する', new_beer_path %></p>
  </div>
</div>

<div class="contents-wrapper">
  <div class="container">
    <h3>最新レビュー</h3>
    <div class="review-field">
      <% @reviews.each do |review| %>
        <div class="review-text">
          <p><%= link_to review.beer.name, beer_path(review.beer.id) %></p>
          <%= review.user.nickname %>:<%= review.content %><span><%= link_to "詳細", review_path(review.id) %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>