<h2>ビール詳細</h2>

名称：<%= @beer.name %><br>
<% if @beer.beer_image.attached? %>
<%= image_tag @beer.beer_image.variant(resize:'300x300') %><br>
<% end %>
カテゴリー：<%= @beer.category.name %><br>
スタイル：<%= @beer.style.name %><br>
コメント：<%= @beer.text %><br>
商品ページ：<%= @beer.url %><br>
メーカー：<%= @beer.brewery_name %><br>
生産国：<%= @beer.brewery_country.name %><br>

<% if user_signed_in? %>
  <% if @beer.favorited_by?(current_user)%>
    <p><span>お気に入り解除</span><%= link_to @beer.favorites.count, beer_favorite_path(@beer.id), method: :delete %></p>
  <% else %>
    <p><span>お気に入り登録</span><%= link_to @beer.favorites.count, beer_favorite_path(@beer.id), method: :post %></p>
  <% end %>
<% end %>

<div>
  <h4>レビュー一覧</h4>
  <div>
    <% @reviews.each do |review| %>
      <P><%= review.user.nickname %></p>
      <%= review.content %><br>
      <% if review.images.attached? %>
        <% review.images.each do |image| %>
          <%= image_tag image.variant(resize:'150x150') %>
        <% end %><br>
      <% end %>
      タグ：
      <% review.tags.each do |tag| %>
        <%= tag.name %><br>
      <% end %>
      <%= link_to '詳細をみる', review_path(review.id) %>

    <% end %>
  </div>
</div>

<% if user_signed_in? %>
  <h4>レビューを投稿する</h4>
  <%= form_with model:@review, url: beer_reviews_path(@beer) do |f| %>
    <div class = "review-field">
      <%= f.label :content %><br>
      <%= f.text_area :content %>
    </div>

    <div class = "review-field">
      <%= f.label :images %><br>
      <%= f.file_field :images %>
    </div>

      <div class = "review-field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>

    <div class = "review-btn">
      <%= f.submit "投稿する" %>
    </div>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <%= link_to '情報を編集する', edit_beer_path %>
  <%= link_to '削除する', beer_path, method: :delete %>
<% end %>
<%= link_to 'トップに戻る', root_path %>