<div class="wrapper">
  <div class="container">
    <div class="main-beer">
      <div class="left-beer">
        <h2 class="beer-name"><%= @beer.name %></h2>
        <%= show_beerimage(@beer) %>
        <% if user_signed_in? %>
          <div class="beer_likes" id="beer_likes_bottons_<%= @beer.id %>">
            <%= render partial: 'shared/beer_like', locals: { beer: @beer } %>
          </div>
          <div class="beer-review">
            <%= link_to new_beer_review_path(@beer), class: "review-btn" do %>
              <i class="fas fa-pen review-post"> ビア活を投稿</i>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="right-beer">
        <div class="beer_edit">
            <div class="edit-bottons">
              <% if user_signed_in? %>
                <%= link_to '編集', edit_beer_path(@beer), class: "edit-btn" %>
                <%= link_to '登録情報の削除', beer_path(@beer), method: :delete, class: "destroy-btn" %>
              <% end %>
            </div>
        </div>
        <div class="item-infomations">
          <p class="item-info"><i class="fas fa-beer">カテゴリー</i><%= @beer.category.name %></p>
          <p class="item-info"><i class="fas fa-beer">スタイル</i><%= @beer.style.name %></p>
          <p class="item-info"><i class="fas fa-beer">商品ページ</i><%= @beer.url %></p>
          <p class="item-info"><i class="fas fa-beer">メーカー</i><%= @beer.brewery_name %></p>
          <p class="item-info"><i class="fas fa-beer">生産国</i><%= @beer.brewery_country.name %></p>
          <p class="item-info"><%= @beer.text %></p>
        </div>
        <div class="item-tags">
          <div class="tag-title">
            <i class="fas fa-tags">タグ一覧</i>
          </div>
          <div class="tags">
            <% @reviews.each do |review| %>
              <% review.tags.each do |tag| %>
                <%= tag.name %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

      <div class="main-reviews">
        <h4 class="main-title">ビア活一覧</h4>
        <% @reviews.each do |review| %>
          <div class="review">
            <div class="left-field">
              <%= show_avatar(review.user) %>
            </div>
            <div class="right-field">
              <p><%= link_to review.user.nickname, user_path(review.user), class: "user-name" %></p>
              <%= link_to review_path(review.id) do %>
                <span class="date"><%= review.created_at.to_s(:date_jp) %></span>
                <p class="review-body"><%= review.content %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

  </div>
</div>