<h2><%= link_to @beer.name, beer_path(@beer) %></h2>
<div>
  <h3><%= link_to @review.user.nickname, user_path(@review.user) %></h3>
  コメント：<%= @review.content %><br>
  <% if @review.images.attached? %>
    <% @review.images.each do |image| %>
      <%= image_tag image.variant(resize:'150x150') %>
    <% end %><br>
  <% end %>
  タグ：
  <% @review.tags.each do |tag| %>
    <%= tag.name %><br>
  <% end %>
</div>

<% if user_signed_in? %>
  <% if @review.liked_by?(current_user) %>
    <p><span>いいね済み</span><%= link_to @review.likes.count, review_like_path(@review.id), method: :delete %></p>
  <% else %>
    <p><span>いいね</span><%= link_to @review.likes.count, review_like_path(@review.id), method: :post %></p>
  <% end %>
<% end %>
<div>
  <% @comments.each do |comment| %>
    <p>
      <%= link_to comment.user.nickname, user_path(comment.user) %>
      <%= comment.content %>
    </p>
    <% if user_signed_in? %>
      <% if comment.gooding_by?(current_user) %>
        <p><span>いいね済み</span><%= link_to comment.goods.count, comment_good_path(comment.id), method: :delete %></p>
      <% else %>
        <p><span>いいね</span><%= link_to comment.goods.count, comment_good_path(comment.id), method: :post %></p>
      <% end %>
    <% end %>
  <% end %>
</div>
<% if user_signed_in? %>
  <%= form_with model:@comment, url: review_comments_path(@review) do |f| %>
    <%= f.label :content %>する
    <%= f.text_field :content %>
    <%= f.submit 'コメントする' %>
  <% end %>
<% end %>

<p><%= link_to 'ツイートする', "https://twitter.com/share?text=#{ @beer.name }を飲みました！&url=#{ request.url }" %></p>

<%= link_to 'ビール詳細に戻る', beer_path(@beer) %>